doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="style.scss")
        title Kevin López Brante
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        a.d-block.px-3.py-2.text-center.fw-bold.bg-primary.text-white.text-decoration-none(href="https://kevin.cl/") kevin.cl is for sale / está a la venta.
        .container.py-3
            img.float-end.rounded(src="https://s.gravatar.com/avatar/435d8f97d5450b7c90bddce58408c148?s=128", alt="My face")
            h1 Kevin López Brante
            p Chilean programmer. #[br] 15+ years experience.
            ul.list-inline
                li.list-inline-item
                    a(href="https://social.losno.co/@kevin",rel="me") Mastodon 
                li.list-inline-item
                    a(href="https://cohost.org/kddlb",rel="me") Cohost
                li.list-inline-item
                    a(href="https://www.youtube.com/@KDDLB",rel="me") YouTube 
                li.list-inline-item
                    a(href="https://github.com/kddlb",rel="me") GitHub
                li.list-inline-item
                    a(href="https://www.threads.net/@kddlb",rel="me") Threads
                li.list-inline-item
                    a(href="https://bsky.app/profile/kddlb.cl",rel="me") Bluesky               
                li.list-inline-item
                    a(href="./contact.pug") Contact me
                    
            .alert.alert-warning(role="alert")
                span I am #[strong NOT] on Twitter/"X".

        script(src="index.js",type="module") 
        script(src="autoDarkMode.js")
