doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="style.scss")
        title Kevin López Brante
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        .container.py-3
            img.float-end.rounded(src="https://www.gravatar.com/avatar/435d8f97d5450b7c90bddce58408c148.jpg?s=128", alt="My face")
            h1 Kevin López Brante
            p Chilean amateur programmer. #[br] 15+ years experience. Resume available upon request.
            ul.list-inline
                li.list-inline-item
                    a(href="https://social.losno.co/@kevin",rel="me") Mastodon 
                li.list-inline-item
                    a(href="https://cohost.org/kddlb",rel="me") Cohost
                li.list-inline-item
                    a(href="https://www.youtube.com/@KDDLB",rel="me") YouTube 
                li.list-inline-item
                    a(href="https://github.com/kddlb",rel="me") GitHub
                
                li.list-inline-item
                    a(href="./contact.pug") Contact me
                    
            .alert.alert-warning(role="alert")
                span I am #[strong NOT] on Twitter. Anyone under the username #[code kddlb] is an impostor.

        script(src="index.js",type="module") 
